:root {
  --link-color: #402535;
  --font: "Montserrat", sans-serif;
  /* --header-color: #F3F7F2; */
  --header-color: #eff5ed;
  --hover-color: #6d826c;
  /* --background-color: #F7FCF8; */
  --background-color: #fcfcf7;
  --logo-height: 80px;
  --text-color: #1b1619;
  scroll-padding: 124px;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font);
  text-align: center;
  box-sizing: border-box;
  background-color: var(--background-color);
  color: var(--text-color);
}

header {
  position: fixed;
  width: 100%;
  max-height: 124px;
  z-index: 3;
  background-image: linear-gradient(
    to right,
    #f7f1f0,
    #f7f1f0 5px,
    #dcebd8 5px,
    #dcebd8
  );
  background-size: 10px 100%;
}

.header--expanded {
  max-height: none;
}

.header-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.header-row img {
  height: var(--logo-height);
}

#burger {
  color: var(--link-color);
  transition: all 300ms ease;
  position: relative;
  text-shadow: 0px 0px 1px var(--hover-color);
  width: 100%;
  cursor: pointer;
  /* background-color: rgba(0, 0, 0, 0.1); */
}

#burger:hover {
  color: var(--hover-color);
  /* background-color: rgba(0, 0, 0, 0.2); */
}

.btn {
  border-radius: 21px;
  padding: 12px;
  background-color: var(--link-color);
  color: var(--background-color);
  transition: all 300ms ease;
}

.btn:hover {
  background-color: var(--hover-color);
}

.navigation {
  display: none;
}

.navigation--visible {
  display: block;
}

nav {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navigation ul {
  width: 100%;
  padding: 0 0 7px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 6px;
  /* text-shadow: 0px 0px 1px var(--hover-color); */
}

a {
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
  white-space: nowrap;
}

.navlink {
  color: var(--link-color);
  background-color: var(--background-color);
  box-shadow: 0 2px var(--link-color);
  padding: 8px 8px;
  /* border-radius: 6px; */
  width: 100%;
  position: relative;
  font-weight: 600;
  white-space: nowrap;
  transition: all 300ms ease;
}

.navlink:hover {
  box-shadow: 0 4px var(--link-color);
  transform: translateY(-2px);
}

.main-image {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin: 0 auto 20px auto;
  z-index: -1;
  padding-top: calc(20px + var(--logo-height));
}

.main-image img {
  width: 100%;
}

h1 {
  font-weight: 900;
  font-size: 28px;
}

.bem-vindo {
  padding-bottom: 24px;
  margin: 0 12px 0 12px;
}

.bem-vindo p {
  padding-bottom: 12px;
}

.carrossel {
  max-width: 90%;
  height: 280px;
  position: relative;
  margin: 40px auto;
}

.carrossel > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.fotos p {
  margin: 0 10px 50px 10px;
}

.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  z-index: 0;
  transition: 200ms ease-in-out;
  transition-delay: 200ms;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide[data-ativo] {
  opacity: 1;
  transition-delay: 0;
  z-index: 1;
}

.slide > img {
  max-height: 100%;
  max-width: 100%;
  border-radius: 38px;
}

.btn-carrossel {
  position: absolute;
  z-index: 2;
  background: none;
  border: none;
  border-radius: 8px;
  font-size: 2.4rem;
  top: 50%;
  transform: translateY(-50%);
  color: var(--background-color);
  opacity: 0.8;
  padding: 0 0.5rem;
  background-color: rgba(0, 0, 0, 0.1);
}

.btn-carrossel:hover,
.btn-carrossel:focus {
  color: var(--background-color);
  background-color: rgba(0, 0, 0, 0.5);
}

.btn-carrossel.prev {
  left: 1rem;
}

.btn-carrossel.next {
  right: 1rem;
}

.contato {
  margin: 20px auto;
  width: 100%;
  overflow: hidden;
  background-color: var(--link-color);
  color: var(--background-color);
  padding-bottom: 20px;
}

.contato p {
  padding: 0 10px;
}

.contato a {
  color: var(--background-color);
  display: flex;
  align-items: center;
}

.contato ul {
  margin: auto;
  padding: 0;
  padding-bottom: 16px;
}

.contato ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

.icon {
  max-height: 40px;
  padding-left: 10px;
}

.contato .alt {
  background-color: var(--header-color);
  color: var(--link-color);
}

.contato .alt:hover {
  background-color: var(--hover-color);
  color: var(--background-color);
}

#mapa {
  width: min(90%, 800px);
}

@media only screen and (min-width: 768px) {
  .navigation {
    display: block;
  }
  .navigation ul {
    flex-direction: row;
    justify-content: center;
    gap: 14px;
  }
  .navlink {
    width: 240px;
  }
  #burger {
    display: none;
  }
  header {
    max-height: none;
  }
  .header-row {
    width: 1200px;
    margin: auto;
    padding-bottom: 0px;
  }
  .main-container {
    width: 1200px;
    margin: auto;
  }
  #mapa {
    height: 450px;
  }
  .carrossel {
    height: 600px;
  }
}
